@import "variables/variables";
@import "vendors/vendors";
@import "mixins/mixins";
@import "base/base";
@import "components/components";

$loader-size: 400px;
$color: #1ECD32;
$color-lighten: #45E655;

@keyframes rotate {

  from
  {
    transform: translateZ(0) rotate(0deg);
  }
  to
  {
    transform: translateZ(0) rotate(-360deg);
  }
}

body, html
{
  background: #000;
}

.loader
{
  display: flex;
    justify-content: center;
}
.loader-container
{
  height: $loader-size;
  width: $loader-size;
  animation: rotate 6s linear infinite;
}
.loader-gooey
{
  filter: url("#goo");
}
.loader-disc
{
  fill: $color;
}
.loader-disc--small
{
  fill: url("#gradient");
}
.loader-disc--blur
{
  filter: drop-shadow(0 0 10px $color-lighten);
}
